<div class="container">
  <div class="pt-5">
    <div class="alert alert-danger" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-4">
            <h3>All Tickets</h3>
          </div>

          <div class="col-8 text-start">
            <select [(ngModel)]="status" id="selectid" required>
              <option disabled>Select Status</option>
              <option>TAKEN</option>
              <option>DELAYED</option>
              <option>CANCALLED</option>
            </select>
            <input [(ngModel)]="begin" placeholder="Start Point" required />
            <input [(ngModel)]="end" placeholder="End Point" required />
            <input type="date" [(ngModel)]="date" required />
            <button type="button" (click)="SearchList()">Search</button>
            <button type="button" (click)="ResetList()">Reset</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Ticket ID</th>
              <th scope="col">Company</th>
              <th scope="col">Fullname</th>

              <th scope="col">Start</th>
              <th scope="col">End</th>

              <th scope="col">Departure Time</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of ticketList; index as ind">
              <!-- <th scope="row"></th> -->
              <td>{{ ind + 1 }}</td>
              <td>{{ item.id }}</td>
              <td>{{ item.vehicleName }}</td>
              <td>{{ item.ticketOwner }}</td>
              <td>{{ item.routeStart }}</td>
              <td>{{ item.routeEnd }}</td>
              <td>{{ item.vehicleDate | date: "longDate" }}</td>
              <td>{{ item.status }}</td>
              <td *ngIf="item.status == 'TAKEN'">
                <button
                  class="btn btn-primary me-1"
                  (click)="editTicketRequest(item)"
                >
                  Change Status
                </button>
              </td>
              <td *ngIf="item.status != 'TAKEN'">
                <p>You can't change ticket details anymore.</p>
                <button
                  class="btn btn-danger"
                  (click)="deleteTicket(item, ind)"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<app-user-modal-ticket
  [ticket]="selectedTicket"
  (save)="saveTicketWatcher($event)"
></app-user-modal-ticket>
